* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.reactLongList {
  display: flex;
  flex-direction: column;
  .house_text {
    font-size: 24px;
    height: 200px;
    background: url('http://img.ljcdn.com/growth-activity/1555075706583.jpg') no-repeat;
    background-size: 100% 100%
  }
}
