* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
// @function basePxToVw($val) {
// 　　@return $val * 100 / 375
// }

html,body{
  min-height: 100%
}
#root {
  min-height: 100%
}
.home_content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pri_btn {
    width: 100%;
    height: 80px;
    line-height:80px; 
    font-size: 48px;
    margin-bottom: 40px;
  }
}
