* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
html,body{
  height: 100%
}
#root {
  height: 100%
}
.one1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    height: 50px;
    border: 10px solid pink;
    color: red;
  }
  .cc {
    display: flex;
    height: calc(100% - 50px)
  }
  .left {
    width: 200px;
    border: 1px solid blue
  }
  .right {
    flex: 1;
    border: 1px solid red
  }
}