* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.basic {
  width: 300px;
  height: 667px;
  background: red;
  position: absolute;
  right: 0;
}

.basic_animation_right {
  animation: slideInRight 0.3s linear;
  animation-fill-mode: forwards;
}

.basic_animation_rightout {
  animation: slideOutRight 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}


